body {
  background-color: #101010;
  color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  display: block;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

span {
  display: block;
  color: tomato;
  font-size: x-small;
}
